.loginpannel {
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginpannel > .input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginpannel img {
  margin-bottom: 10px;
}

.loginpannel h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15%;
}

.loginpannel .input label {
  font-weight: 500;
  font-size: 14px;
}
.loginpannel .input input {
  color: white;
  padding: 0 10px;
  font-size: 16px;
  margin: 20px 0;
  height: 60px;
  background: linear-gradient(
    91.57deg,
    rgba(255, 255, 255, 0.32) 0%,
    rgba(255, 255, 255, 0.168) 99.75%
  );
  backdrop-filter: blur(20px);

  border-radius: 6px;
  border: none;
  outline: none;
}

.loginpannel button {
  cursor: pointer;
  font-size: 16px;
  margin: 30px 0;
  color: white;
  outline: none;
  border: none;
  width: 224px;
  height: 50px;
  background: linear-gradient(165.51deg, #378bba 9.49%, #60a5cb 88.86%);
  box-shadow: inset 0px 4px 12px #378bba;
  backdrop-filter: blur(20px);
  border-radius: 12px;
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
  @media only screen and (min-width: 600px) {
    width: 80%;
  }
}

.loginpannel .forgetPassword {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginpannel .forgetPassword .checkbox {
  display: flex;
  align-items: center;
}

.loginpannel .forgetPassword .checkbox > input {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 50%;
  outline: none;

  background: linear-gradient(
    91.57deg,
    rgba(255, 255, 255, 0.56) 0%,
    rgba(255, 255, 255, 0.56) 99.75%
  );
  cursor: pointer;
  margin-right: 5px;
}
.checkbox > input:checked {
  border: 6px solid #42a4dd;
  background-color: rgb(206, 206, 206) !important;
}

.loginpannel .forgetPassword {
  font-size: 14px;
  margin: 20px 0;
}

.loginpannel > p {
  font-size: 14px;
}

.loginpannel > p span {
  color: white;
  margin-left: 10px;
  text-decoration: underline;
}
